/* body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
} */
/* Header styles */
/* .pe-company-title-ctn{
  label{
    color: #1265ad;
    font-weight: 800;
    font-size: xx-large;
  }
  span{
    background-image: url('../resources/pe_alpha.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    background-size: contain;
    height: 50px;
    width: 70px;
    display: inline-block;
  }
} */
.pe-company-title-ctn {
  display: inline-flex; /* Aligns logo and title side-by-side */
  align-items: center; /* Centers items vertically */
  
  span {
    background-image: url('../resources/pe_alpha.png');
    background-repeat: no-repeat;
    background-size: contain; /* Ensures the image fits within dimensions */
    background-position: center;
    height: 50px;
    width: 70px;
    display: inline-block;
   
    overflow: hidden; /* Ensures no overflow issues */
  }

  label {
    color: #1265ad;
    font-weight: 800;
    font-size: xx-large;
  }
}

.bg-primary {
  background-color: #1265ad !important;
}
.asd{
  margin-top: 2px;
  margin-right: 33px;
}

/*  Mail to */
.mailto-ctn, .phone-ctn{
  color: #788294;
  margin-right: 5px;
  border-right: 1px solid #6d6e70;
  padding: 0 10px;
}
/* Light theme color changes */
/* .light{
  .mailto-ctn, .phone-ctn{
    color: #1d2430;
    border-right: 1px solid #788294;
  }
} */

.social-icons-ctn {
  margin-left: 5px;
}

.dark\:text-white {
  color: #1265ad !important
}